<div class="modal-header">
    <h5 class="modal-title">Confirm Booking
        <p>{{bookingDetails.startDate}} to {{bookingDetails.endDate}}</p>
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p> {{bookingDetails.days}} <span>nights</span></p>
    <p> {{bookingDetails.daily}} <span>per Night</span></p>
    <p>Guests: <span>{{bookingDetails.guests}}</span></p>
    <p>Price: <span>{{bookingDetails.totalPrice}}</span></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-bwm" (click)="activeModal.close(true)">Confirm</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Close</button>
</div>